.outer{
    background-color: aqua;
    border: solid 5px black;
    height: 500px;
    width: 700px;
}

.inner{
    position: relative;
    top: 0;
    left: 0;
    background-color: crimson;
    height: 50px;
    width: 50px;
}